<%- include("header")%>
    <div class="container-fluid">
        <form action="/viewdetail/edit" method="post">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start pb-3">
                <p class="lead fw-normal mb-0 me-3">Update Password Details </p>

            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="id" name="id" value="<%= data._id%>" hidden />
                <input type="text" id="Domain" name="Domain" value="<%= data.Domain%>"
                    class="form-control form-control-lg" placeholder="Enter a valid Domain Name" />
                <label class="form-label">Domain</label>
                <input type="text" name="Username" value="<%= data.Username%>" class="form-control form-control-lg"
                    placeholder="Enter a valid Domain Name" />
                <label class="form-label" for="Name">Username</label>
                <input type="password" name="password" value="<%= data.Password%>" class="form-control form-control-lg"
                    placeholder="Enter a valid Domain Name" />
                <label class="form-label" for="password">Password</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">submit</button>

            </div>

        </form>
    </div>
    </body>



    </html>