<%- include("header")%>
    <!-- filter section -->

    <section class="section">
        <div class="container">
            <div class="d-flex flex-column w-100">
                <div>
                    <h2>Filter</h2>
                </div>
                <div>
                    <form action="/search" method="post">
                        <div class="d-flex justify-content-between">
                            <div class="filter_input">
                                <input type="text" name="Domain" placeholder="Enter Domain to search">
                            </div>
                            <div class="filter_input">
                                <input type="text" name="Username" placeholder="Enter Username to search">
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- data display section  -->

    <section class="section">
        <div class="container">
            <h2>Password Database</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <!-- <th>Username</th>
                        <th>Password</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length> 0){ data.forEach((item)=>{ %>
                        <tr>
                            <td>
                                <%= item.Domain %>
                            </td>
                            <!-- <td>
                                <%= item.Username %>
                            </td>
                            <td>
                                <%= item.Password %>
                            </td> -->
                            <td>
                                <!-- <a href="/home/update/<%= item.id %>"><i class="bi bi-eye"></i></a> -->
                                <a href="/home/update/<%= item.id %>"><i class="bi bi-pencil-square"></i></a>
                                <a href="/home/delete/<%= item.id %>"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>

                        <% })} else { %>
                            <tr>
                                <td>
                                    No data found
                                </td>
                            </tr>
                            <% } %>

                </tbody>
            </table>
        </div>
    </section>


    </body>


    </html>