<%- include("header")%>

    <!-- filter section -->

    <section class="section">
        <div class="container">
            <div class="d-flex flex-column w-100">
                <div>
                    <h2>Filter</h2>
                </div>
                <div>
                    <form action="/viewdetail/search" method="post">
                        <div class="d-flex justify-content-between">
                            <div class="filter_input">
                                <input type="text" name="Domain" placeholder="Enter Domain to search">
                            </div>
                            <div class="filter_input">
                                <input type="text" name="Username" placeholder="Enter Username to search">
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- data display section  -->

    <section class="section">
        <div class="container">
            <h2>Password Details</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length> 0){ data.forEach((item)=>{ %>
                        <tr>
                            <td>
                                <%= item.Domain %>
                            </td>
                            <td>
                                <%= item.Username %>
                            </td>
                            <td>
                                <!-- <a href="/viewdetail/update/<%= item.id %>"><i class="bi bi-eye"></i></a> -->
                                <button type="button" class="btn " data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop<%= item.Username %>">
                                    <!-- <i class="bi bi-eye"> -->
                                    <i class="bi bi-eye-fill"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop<%= item.Username %>"
                                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Password details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    Username : <%= item.Username %>
                                                </div>
                                                <div>
                                                    Password: <%= item.Password %>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Close</button>
                                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-outline-primary" href="/viewdetail/edit/<%= item.id %>"><i
                                        class="bi bi-pencil-square"></i></a>
                                <a class="btn  btn-outline-danger" href="/viewdetail/delete/<%= item.id %>"><i
                                        class="bi bi-trash"></i></a>
                            </td>
                        </tr>

                        <% })} else { %>
                            <tr>
                                <td>
                                    No data found
                                </td>
                            </tr>
                            <% } %>

                </tbody>
            </table>
        </div>
    </section>

    <%- include("footer")%>
        </body>


        </html>